.mosquito1{
    width: 50px;
    height: 50px;
    
}
.mosquito2{
    width: 100px;
    height: 100px;
    
}

.mosquito3{
    width: 170px;
    height: 170px;
    
}

.lado_a {
    transform: scaleX(1)
}

.lado_b {
    transform: scaleX(-1)
}